*{
    box-sizing: border-box;
    
}

body{
    padding:0;
    margin:0;
    display: grid;
grid-template-columns: 300px auto;
}

section > *{
    max-width:800px;
}

/* ================================================ */
/* TYPOGRAPHY */
/* ================================================ */

:root{
--grid-unit: 8px;
--type-sans: 'Krub', sans-serif;
--type-serif: 'Merriweather', serif;

--col-black:#0F0F0F;
--col-grey-major:#6E605E;
--col-grey:#C9B0AD;
--col-grey-minor:#F2EEED;
--col-white:#ffffff;
--col-red: #FC3C3C;
--col-orange: #ED6A3A;
--col-brown:#8C6851;
--col-yellow: #F8B500;
--col-green:#438C2E;
--col-cyan:#00ADB5;
--col-blue:#00445E;
--col-purple:#681E70;
--col-pink:#CF1264;


/*Dark - 10 Brightness*/

--col-blue-light:#005778;
--col-blue-dark:#003245;


}

p.tiny{
    /* tiny */
    font-size: 11px;
    font-family: var(--type-sans-serif);
    font-weight:400;
    color:var(--col-black);
}


p.small{
    /* small */
    font-size: 13px;
    font-family: var(--type-serif);
    font-weight:400;
    color:var(--col-black);
}

p.minor, td{
    /* body minor*/
    font-size: 15px;
    font-family: var(--type-serif);
    font-weight:400;
    color:var(--col-black);
}

p.minor_bold, th{
    
    font-size: 15px;
    font-family: var(--type-serif);
    font-weight:900;
    text-align: left;
    color:var(--col-black);
}

p,li{
    /* body */
    font-size: 18px;
    font-family: var(--type-serif);
    font-weight:400;
    line-height:1.5;
    text-align: left;
    color:var(--col-black);
}

p.sans, button{
    /* body sans*/
    font-size: 18px;
    font-family: var(--type-sans);
    font-weight:400;
    line-height:1.5;
    text-align: left;
    color:var(--col-black);
}

p.major{
    /* body major*/
    font-size: 21px;
    font-family: var(--type-serif);
    font-weight:400;
    color:var(--col-black);
}

h3{
      /* header minor */
      font-size: 30px;
      font-family: var(--type-sans);  
      font-weight:400;
      line-height:1.5;
      color:var(--col-black);
}

h2{
      /* header */
      font-size: 41px;
      font-family: var(--type-sans);  
      font-weight:700;
      line-height:1.5;
      color:var(--col-black);
}

h1{
      /* header major */
      font-size: 57px;
      font-family: var(--type-sans);  
      font-weight:700;
      line-height:1.5;
      color:var(--col-black);
}

h1.hero{
    /* hero */
    font-size: 67px;
    font-family: var(--type-sans);  
    font-weight:700;
    line-height:1.5;
    color:var(--col-black);
}


.italic{
    font-style: italic;
}

blockquote{
    border-left: calc(1 * var(--grid-unit)) blue solid;
    padding: calc(2 * var(--grid-unit));
    margin: 0 0 0 calc(4 * var(--grid-unit));
    background-color: #ced8ff;
}

ul{
    list-style:none;
    padding: 0 0 0 calc(var(--grid-unit) * 3);
    margin:0 0 0 calc(4 * var(--grid-unit));
}

li{
    margin-bottom:calc(1 * var(--grid-unit));
}

li::before {
    display: block;
    position: absolute;
    background: red;
    height: calc(1 * var(--grid-unit));
    width: calc(1 * var(--grid-unit));
    border-radius:50%;
    content: '';
    transform: translate(calc(-3 * var(--grid-unit)), calc(var(--grid-unit)));

}

code{
    background:var(--col-black);
    color:var(--col-white);
    padding: calc(var(--grid-unit)/2) var(--grid-unit);
    border-radius:4px;
}


/* ================================================ */
/* SECTIONS */
/* ================================================ */

section{
    padding:calc(3 * var(--grid-unit))
}
.section_hero{
    padding: 1em 2em;
    background:var(--col-pink);
}
.section_hero h1{
    color:white;
}

/* ================================================ */
/* ASIDE */
/* ================================================ */

aside{
    background:var(--col-grey-minor);
}

/* ================================================ */
/* TABLES */
/* ================================================ */

table{
    width:100%;
    border-collapse: collapse;
}

td > *{
    margin:0;
}

tr:nth-child(even){
    background-color:var(--col-grey-minor);
}

table,th,td{
    border:1px solid var(--col-black);
    padding: 0.5em 0.8em;
}

/* ================================================ */
/* SWATCHES */
/* ================================================ */

.swatch{
    width:calc(5 * var(--grid-unit));
    height:calc(5 * var(--grid-unit));
    border-radius:4px;
    border:1px solid var(--col-grey-major);
}

.col_black{background-color:var(--col-black);}
.col_grey_major{background-color:var(--col-grey-major);}
.col_grey{background-color:var(--col-grey);}
.col_grey_minor{background-color:var(--col-grey-minor);}
.col_white{background-color:var(--col-white);}

.col_red{background-color:var(--col-red);}
.col_orange{background-color:var(--col-orange);}
.col_brown{background-color:var(--col-brown);}
.col_yellow{background-color:var(--col-yellow);}
.col_green{background-color:var(--col-green);}
.col_cyan{background-color:var(--col-cyan);}
.col_blue{background-color:var(--col-blue);}
.col_purple{background-color:var(--col-purple);}
.col_pink{background-color:var(--col-pink);}


/* ================================================ */
/* LAYOUT */
/* ================================================ */
menu {
    position: fixed;
}


/* ================================================ */
/* BUTTONS*/
/* ================================================ */

button{
    padding: calc(1 * var(--grid-unit)) calc(4 * var(--grid-unit));
    border-radius:4px;
    border:0;
    cursor: pointer;
}

button:hover{
    opacity:0.8;
}

button.primary{
    color:white;
}


button.blue{
    background:linear-gradient(var(--col-blue-light),var(--col-blue-dark));
}