*{
    box-sizing: border-box;
    
}

body{
    padding:0;
    margin:0;
    display: grid;
grid-template-columns: 300px minmax(auto, 800px);
}

/* ================================================ */
/* TYPOGRAPHY */
/* ================================================ */

:root{
--type-sans: 'Krub', sans-serif;
--type-serif: 'Merriweather', serif;
}

p.tiny{
    /* tiny */
    font-size: 11px;
    font-family: var(--type-serif);
    font-weight:400;
}


p.small{
    /* small */
    font-size: 13px;
    font-family: var(--type-serif);
    font-weight:400;
}

p.minor, td{
    /* body minor*/
    font-size: 15px;
    font-family: var(--type-serif);
    font-weight:400;
    
}

p.minor_bold, th{
    
    font-size: 15px;
    font-family: var(--type-serif);
    font-weight:900;
    text-align: left;
}

p{
    /* body */
    font-size: 18px;
    font-family: var(--type-serif);
    font-weight:400;
    line-height:1.5;
    text-align: left;
}

p.major{
    /* body major*/
    font-size: 21px;
    font-family: var(--type-serif);
    font-weight:400;
}

h3{
      /* header minor */
      font-size: 30px;
      font-family: var(--type-sans);  
      font-weight:400;
      line-height:1.5;
}

h2{
      /* header */
      font-size: 41px;
      font-family: var(--type-sans);  
      font-weight:700;
      line-height:1.5;
}

h1{
      /* header major */
      font-size: 57px;
      font-family: var(--type-sans);  
      font-weight:700;
      line-height:1.5;
}

h1.hero{
    /* hero */
    font-size: 67px;
    font-family: var(--type-sans);  
    font-weight:700;
    line-height:1.5;
}


/* ================================================ */
/* TABLES */
/* ================================================ */

table{
    width:100%;
    border-collapse: collapse;
}

table,th,td{
    border:1px solid black;
    padding: 0.5em 0.8em;
}


/* ================================================ */
/* SECTIONS */
/* ================================================ */
.section_hero{
    padding: 1em 2em;
    background:#ff0053;
}

/* ================================================ */
/* LAYOUT */
/* ================================================ */
menu {
    position: fixed;
}